.hero-baner{
    background-image: url("../img/img_cholontourist/bigslide.jpg");
    width: 100%;
    background-repeat: no-repeat;
    position: relative;

}
.background-search-input{
    background: rgb(0,0,0,0.1);
    position: absolute;
    top:50%;
    left:50%;
}
.bigslide{
    width: 100%;
    height: 408px;
}
.basic-addon1{
    width: 30%;
    background-color: transparent;
}
