.hero-baner{
    background-image: url("../img/img_cholontourist/bigslide.jpg");
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.background-search-input{
    background: rgb(0,0,0,0.1);
    position: absolute;
}

