* {
  font-family: Helvetica;
}

.main-header {
  display: flex;
  justify-content: space-evenly;
  background-color: #003C71;
  align-items: center;
  position: relative;
}

.navbar {
  padding: 0;

  .container-fluid {
    padding: 0;
  }

  .navbar-toggler {
    border: 0;

    &:focus {
      box-shadow: none;
    }
  }

  .fa-bars {
    color: white;
  }

  .nav-link {
    color: white;

    &:hover {
      color: #00C1DE;
    }
  }

  .nav-link.activated {
    color: #00C1DE;
  }
}

.contact-md {
  .fa-user {
    color: white;
  }

  &:hover {
    cursor: pointer;
    .fa-user {
      color: #00C1DE;
    }
    transition: 0.3s ease-in-out;
  }
}

.user-login {
  color: white;
  align-items: center;

  .fa-user-circle {
    font-size: 4rem;
    padding-right: 0.5rem;
  }

  &:hover {
    cursor: pointer;
    .username-header {
      color: #00C1DE;
      transition: 0.3s ease-in-out;
    }
  }
}

.contact {
  .hotline {
    color: #F79321;
    font-weight: bolder;
    font-size: 1.2rem;

    &:hover {
      color: #FFBD00;
      transition: 0.3s ease-in-out;
      cursor: pointer;
    }
  }

  .location {
    font-size: 0.8rem;
    color: white;

    &:hover {
      cursor: pointer;
      color: #00C1DE;
      transition: 0.3s ease-in-out;
    }
  }
}

@media (max-width: 767.98px) {
  .main-header {
    display: block;
  }
}

@media (min-width: 1400px) {
  .main-header {
    display: flex;
    justify-content: center;

    .user-login {
      padding: 0 5rem;
    }
  }
}